* {
  box-shadow: 0 0 2px rgb(0, 255, 255);
}

/* all start */

.page {
  max-width: 880px;
  background-color: #000;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 45px;
}

@media screen and (max-width: 879px) {
  .page {
    max-width: 320px;
    padding-top: 28px;
  }

}

/* header start */

.header {
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

.logo {
  max-width: 142px;
  margin: 0 auto 40px;
}

@media screen and (max-width: 879px) {
  .header {
    max-width: 320px;
  }

  .logo {
    max-width: 103px;
    margin: 0 0 31px 27px;
  }

}

/* profile start */

.profile {
  width: 100%;
  display: flex;
  padding-top: 40px;
  box-sizing: border-box;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  row-gap: 16px;
  column-gap: 18px;
  margin: auto 0 auto 30px;
  align-items: baseline;
}

.profile__name {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__caption {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit {
  background-image: url(./images/Edit\ Button.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity .1s ease-in-out;
}

.profile__edit:hover {
  opacity: 0.6;
}

.profile__add-button {
  background-image: url(./images/add\ button.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  width: 150px;
  height: 50px;
  margin: 0 0 0 auto;
  align-self: center;
  cursor: pointer;
  transition: opacity .1s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 879px) {
  .profile {
    padding-top: 42px;
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    max-width: 282px;
    row-gap: 14px;
    column-gap: 10px;
    margin: 26px auto 36px;
    justify-content: center;
  }

  .profile__add-button {
    width: 282px;
    margin: 0 auto;
  }

  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }

  .profile__caption {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .profile__edit {
    width: 18px;
    height: 18px;
  }

}

/* images gallery start */

.elements {
  width: 100%;
  padding: 50px 0 0;
  box-sizing: border-box;
}

.elements-list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  row-gap: 20px;
  column-gap: 17px;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.elements-list__element {
  max-width: 282px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.element__info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
}

.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.element__name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 25px 0 31px 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like {
  background-image: url(./images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 30px 20px 0;
  width: 22px;
  height: 19px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: opacity .1s ease-in-out;
}

.element__like:hover {
  opacity: 0.5;
}

@media screen and (max-width: 879px) {
  .elements {
    width: 100%;
    padding: 36px 0 0;
  }

  .elements-list {
    grid-template-columns: 282px;
    justify-content: center;
  }

}

.footer {
  padding: 66px 0 60px;
}

.copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 879px) {
  .copyright {
    font-size: 14px;
    line-height: 17px;
  }

}
